body {
  background: #020502;
}

.crt {
  position: relative;
  color: #7CFF7C;
  font-family: monospace;
  text-shadow: 0 0 6px #3cff3c;
  padding: 2rem;
}

/* scanlines */
.crt::after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;

  background: repeating-linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0px,
    rgba(0,0,0,0) 2px,
    rgba(0,0,0,0.25) 3px,
    rgba(0,0,0,0.25) 4px
  );
}

